* {
    margin: 0;
    padding: 0;
}


header {
    color: white;
    width: 75%;
    justify-self: center;

    font-size: x-large;
    margin-bottom: 3rem;
}

header div {
    display: flex;
    gap: 0.5rem;
}



/* BODY */
body {
    min-height: 100vh;
    background: linear-gradient(to bottom right, #111827, #581c87, #111827);

    margin: 2rem;
}



/* SECTIONS */
.section {
    display: none;
}

.section.active {
    display: block;
}


#planning {
    color: white;
    width: 75%;
    justify-self: center;
    background-color: rgba(128, 128, 128, 0.1);
}

#planningDiv {
    display: flex;
    flex-wrap: wrap;
}

#films {
    color: white;
    width: 75%;
    justify-self: center;
    background-color: rgba(128, 128, 128, 0.1);

}

#filmsDiv {
    display: flex;
    flex-wrap: wrap;
}

#salles {
    color: white;
    width: 75%;
    justify-self: center;
    background-color: rgba(128, 128, 128, 0.1);
}

#sallesDiv {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-size: medium;
}

/* CARD */
.card {
    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.6);
    font-size: larger;

    width: 15rem;
    gap: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.card button {
    width: 35%;
    display: inline;
    font-size: medium;
}


/* FORMS */
form {
    background-color: white;
    color: black;

    display: flex;
    flex-direction: column;

    padding: 2rem;
}

form button {
    margin: 0.5rem;
}

#planningFormDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


#filmsFormDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#filmsFormEdit {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

#sallesFormDiv {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}